# Sunucu Ayarları
PORT=5000
NODE_ENV=development

# PostgreSQL Bağlantı Bilgileri
DB_HOST=localhost
DB_PORT=5432
DB_NAME=pamukkale_branda
DB_USER=postgres
DB_PASSWORD=sifrenizi_girin

# CORS
CLIENT_URL=http://localhost:5173
